body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  /* height: 780px; */
}
.MainContainer {
  width: 1368px;
  height: 768px;
  /* display: flex;
  align-items: center; */
}

/*sidebar*/
.container {
  background-color: #d8d8d8;
  width: 1308px;
  height: 780px;
  display: flex;
}
.sidebar {
  background-color: #ffffff;
  height: 780px;
  width: 58px;
  left: 0;
  display: flex;
  flex-direction: column;
}
.content {
  height: 768px;
  width: 1250px;
}
